# Directorios de caché y compilados
__pycache__/
tests/__pycache__/

# Directorios de datos y descargas
descargas/
archivos_procesados/

# Archivos de Log
*.log

# Archivos de datos (PDFs, CSVs, etc.)
*.pdf
*.csv
*.pbix